################################################################################
# generic temporary files for text editors, etc
*.swp
*.swo



################################################################################
# generic python
*.pyc


################################################################################
# spyder related
.spyderproject


################################################################################
# pycharm related
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries


